@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Courier+Prime&display=swap");

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: black;
}
::-webkit-scrollbar-thumb:hover {
  background: black;
}
.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  overflow-y: auto;
  background-image: url("../images/matrix.gif");
}
.close {
  --color: greenyellow;
  --hover: greenyellow;
}
.close:hover,
.close:focus {
  box-shadow: inset -4em 0 0 0 var(--hover), inset 4em 0 0 0 var(--hover);
  color: black !important;
}
.buttons {
  color: var(--color);
  transition: 0.25s;
}
.buttons:hover,
.buttons:focus {
  border-color: var(--hover);
  color: #fff;
}
.buttons {
  font-family: "Courier Prime", monospace;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 1em;
}
#card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 2px solid rgba(12, 243, 43, 0.952);
}
#registeredForm {
  font-family: "cairo", sans-serif;
}
.form-banner {
  font-family: "Courier Prime", monospace;
  font-size: 2rem;
}
.form-control,
.form-control:focus,
.form-control:active {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  box-shadow: inset 0 -1px 0 gray;
  color: #fff;
}
@media (max-width: 480px) {
  .form-banner {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  .form-banner {
    font-size: 1rem;
  }
}
